@charset "UTF-8";

#authBox {
	height: 60%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.container {
	width:45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

#detail {
	width: 100%;
	height: 80%;
	background: gray;
}


tr {
	display : flex;
}