@charset "UTF-8";

.group-container {
 	width: 100%; 
	height: 100%; 
}

.group-container .group-btn {
	width: 100%; 
	height: 50px;
	display: flex;
    align-items: center;
    padding-left: 10px;
}

.group-container .group-grid {
	width: 100%; 
	height: calc(100% - 50px);
}