@charset "UTF-8";

body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#mainLayout {
	width: 100%;
	height: 100%;
}

.nav_bar {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #004a73;
}

.logo {
    margin-left: 50px;
    font-size: 30px;
}

.user_info {
	width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user_name {
    font-size: 20px;
}

#jqxLogoutButton {
    font-size: 20px;
}

.jqx-menu-ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 0;
}

.jqx-item {
	height: 10%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.jqx-menu-item-top {
	font-size: 20px;
}

#content { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}