@charset "UTF-8";

#menuList {
	height: 60%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.container {
	width:45%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

#detail {
	width: 100%;
	height: 80%;
	background: gray;
}

#menuForm {
	width: 400px; 
	height: auto;
}