@charset "UTF-8";

#statishBox {
	height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items : center;
}

.jqx-checkbox-default {
	margin : 4px;	
}

#checkBox {
	width	: 100%;
	padding : 0px 0px 0px 0px;
	display : flex;
	justify-content: center;
}

#checkBoxAll {
	width	: 100%;
	padding : 20px 0px 0px 20px;
	display : flex;
	justify-content: space-between;
}

#checkBoxGroup {
	width	: 100%;
	padding : 20px 0px 0px 0px;
}

#chartContainer {
	padding : 15px 0px 0px 0px;
	width	: 100%;
	height	: 85%;
}

.jqx-checkbox-label {
	position: relative;
	top		: 5px;
}