@charset "UTF-8";

#userList {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	display: none;
}
	
#jqxSubmitButton {
	margin-bottom: 20px;
}
	
.buttons {
	float: right; 
	margin-top: 15px;
}

.forms {
	width: 400px; 
	height: auto; 
	display: none;
}

tr {
	display : flex;
}