@charset "UTF-8";

#userList {
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: flex-end;
	margin: 45px;
}
	
#jqxSubmitButton {
	margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {
	float: right; 
	margin-top: 15px;
}

.forms {
	width: 50%; 
	height: 50%; 
	display: none;
}

.tr {
	display : flex;
}

.td {
	
}
